.home__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../../assets/greekAngelStatue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.intro {
  max-width: 800px;
  padding: 32px;
}

.head__line {
  font-family: var(--font-neue-montreal);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 8px;
}

.sub-head__line {
  font-family: var(--font-neue-montreal);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.tagline {
  font-family: var(--font-neue-montreal);
  font-size: 19px;
  font-weight: 700;
  line-height: 1.6;
}
