.navbar {
  background-color: black;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: white;
  font-family: var(--font-cs-blacken);
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__logo:hover {
  color: #ffe6ee;
}

.nav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.nav__link {
  color: white;
  font-family: var(--font-cs-blacken);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
  font-size: 30px;
}

.nav__link:hover {
  color: #ffe6ee;
}
