.navbar {
  background-color: black;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: white;
  font-family: var(--font-neue-montreal);
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  background-image: linear-gradient(to right, white, #474747 50%, #808080 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.3s ease-in-out;
}

.nav__logo:hover {
  background-position: 0;
}

.nav__logo.active {
  background-position: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.nav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  gap: 32px;
}

.nav__link {
  color: white;
  font-family: var(--font-pickyside);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 45px;
  position: relative;
  background-image: linear-gradient(to right, white, #7d7d7d 50%, #808080 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  background-position: 0;
}

.nav__link.active {
  background-position: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .nav__container {
    padding: 0 16px 0 16px;
  }

  .nav__logo {
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .nav__menu {
    gap: 12px;
    padding: 12px;
  }

  .nav__link {
    font-size: 16px;
    font-family: var(--font-neue-montreal);
    line-height: 1;
    white-space: nowrap;
  }

  .nav__link::before {
    height: 2px;
    bottom: -2px;
  }

  .nav__link.active {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
